html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display:flex;
}

hr {
    width: 100%;
    height: 2px;
    background-color: white;
    border: none;
    margin: 10px 0;
}

.h1, .h1Select {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    color: white;
    outline: 2px;
    outline-color: white;
    outline-style: solid;
    border-radius: 15px;
    border: 3px solid black;
    background-color: black;
    padding-inline: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    user-select: none;
    backdrop-filter: blur(5px);
}

.h1Other {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    color: white;
    outline: 2px;
    outline-color: white;
    outline-style: solid;
    border-radius: 15px;
    border: 3px solid black;
    background-color: black;
    padding-inline: 30px;
    user-select: none;
}


.h1:hover {
    background-color: gray;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.h1Select:hover {
    background-color: gray;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

h2 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    color: white;
    outline: 2px;
    outline-color: white;
    outline-style: solid;
    border-radius: 30px;
    border: 3px solid black;
    background-color: black;
    padding-inline: 30px;
    user-select: none;
}
.divBox {
    position: absolute;
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
    width: 100%;
    display: flex;
}

.textBox {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.751);
    width:fit-content;
    padding: 1%;
    outline-color: purple;
    outline-width: 3px;
    outline-style: solid;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: darkred;
    opacity: 0.7;
}

.leftBox {
    background-image: linear-gradient(black 80%,red);
    display: flex;
    flex-flow: column wrap;
    width: 25vw;
    height: 100%;
    border: 3px;
    border-color: white;
    border-style: solid;
}

.rightBox {
    background-image: linear-gradient(black 80%,red);
    display: flex;
    width: 75vw;
    height: 100%;
    flex-flow: column wrap;
    margin:auto;
    border: 3px solid gold;
}

.boxContainer {
    display: flex;
    width: 24vw;
    justify-content: space-evenly;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}